<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">      
    <link rel="icon" href="/images/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/css/login.css">  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Trainingee - Login</title>
</head>
<body>
    <div class="login-container">
        <div class="form-container">
            <div class="form-title">Welcome Back</div>
            <form>
                <div class="input-group">
                    <input type="text" placeholder="Email or Username" id="username" required />
                </div>
                <div class="input-group password-container">
                    <input type="password" placeholder="Password" id="password" required />
                    <button type="button" id="togglePassword" class="toggle-password">
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                    </button>
                </div>
                <button type="button" class="submit-btn" id="submit">Sign In</button>
            </form>
            <div class="back-link">
                <a href="/api/auth/forgot-Password">Forgot Password?</a>
            </div>
        </div>
        <div class="image-container">
            <div class="image-overlay">
                <div class="brand-name">Trainingee</div>
                <div class="brand-tagline">Student Management System</div>
            </div>
        </div>
    </div>
    <script src="/js/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>